<div class = 'card bg-dark justify-content-center' style="border-color: #334e68; color: #334e68; background-color: #323F4B; margin-top: 2%; margin-left: 20%; margin-right: 20%;">
    <div class = 'card-header' style="background-color: #334e68; color: azure; text-align: center;">
        {{ pageTitle }}
    </div>

    <!-- <nav class='navbar navbar-expand navbar-dark' style = 'background-color: #323F4B;'>
        <ul class='navbar-nav mr-auto ml-auto' style = 'color: azure'>
            <li class='nav-item'><a class='nav-link' routerLinkActive='active' [routerLink]="['/myadverts']" 
                >My Adverts</a>
            </li>
            <li class='nav-item'><a class='nav-link' routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/myadverts', 0]"
                >Advert Editor</a>
            </li>
        </ul>
    </nav> -->
    
    <form  novalidate (ngSubmit) = 'submit()' [formGroup]='advertEditForm'>
        <div class = 'card-body'>
            <div class="form-group row mb-2 justify-content-center">
                <div class="col-md-6">
                    <input class="form-control" formControlName = 'header' type='text' placeholder='Advert Header'
                    [ngClass]="{'is-invalid': displayMessage.header }"/>
                    <span class='invalid-feedback'> 
                        {{ displayMessage.header }}
                    </span>
                </div>
            </div>

            <div class="form-group row mb-2 justify-content-center">
                <div class="col-md-6">
                    <select class="form-control" formControlName = 'province' (onchange) ="updateCities()" >
                        <option value="{{ province }}" *ngFor='let province of provinces'  > {{ province }} </option>
                    </select>
                </div>
            </div>

            <div class="form-group row mb-2 justify-content-center">
                <div class="col-md-6">
                    <select class="form-control" formControlName = 'city'>
                        <option value="{{ city }}" *ngFor='let city of cities'> {{ city }} </option>
                    </select>
                </div>
            </div>

            <div class="form-group row mb-2 justify-content-center">
                <div class="col-md-6">
                    <textarea class='form-control' type='text' rows = '5' formControlName = 'details' placeholder='Property Details'
                    [ngClass]="{'is-invalid': displayMessage.description }"></textarea>
                    <span class="invalid-feedback">
                        {{ displayMessage.description }}
                    </span>
                </div>
            </div>

            <div class="form-group row mb-2 justify-content-center">
                <div class="col-md-6">
                    <input class="form-control" formControlName = 'price' type='number' step='any' placeholder='Price'
                    [ngClass]="{'is-invalid': displayMessage.price }"/>
                    <span class='invalid-feedback'>
                        {{ displayMessage.price }} 
                    </span>
                </div>
            </div>

            <div class='form-group row mb-2 justify-content-center'>
                <span><input class = 'btn btn-primary' type = 'submit' style="background-color: #334e68; border-color: #334e68;" value='Publish Advert'
                [disabled]='!advertEditForm.valid'> </span>         
            </div>
            <div class='form-group row mb-2 justify-content-center'>
                <input class = 'btn btn-danger' style = 'width: 80px;'  value="Cancel"
                    routerLinkActive='active' [routerLinkActiveOptions]='{exact: true}' [routerLink]="['/adverts']">           
            </div>
        </div>
    </form>
</div>