<div class = 'card bg-dark justify-content-center'  style = 'color: #4287f5; margin-top: 2%; margin-left: 20%; margin-right: 20%; margin-bottom: 2%;'>
    <div class = 'card-header' style = 'text-align: center;'>
        {{ pageTitle }}
    </div>
    <div class="form-group row mb-2 justify-content-center" *ngIf='true'>
        <div class="card bg-dark" style="width: 40rem; border-color: #4287f5;">
            <div class="card-body col-md-12 " >
                <div class="card" style="border-color: #4287f5; color: #4287f5; background-color: #323F4B;">
                    <h4 class="card-header" style="background-color: #334e68; color: azure; text-align: center;">Contact Details</h4>
                    <div class="card-body" style="padding-inline: 15%;">
                        <form [formGroup]="profileForm" (ngSubmit)="submit()">
                            <div class="form-group">
                                <label style="text-align: left;">Email Address:</label>
                                <input type="text" formControlName="email" class="form-control" required email
                                [ngClass]="{'is-invalid': (profileForm.get('email').touched || profileForm.get('email').dirty) && !profileForm.get('email').valid }"
                                placeholder="Email"/>
                                <span class='invalid-feedback'>
                                    <span *ngIf="profileForm.get('email').errors?.required">
                                        Please enter your email address.
                                    </span>
                                    <span *ngIf="profileForm.get('email').errors?.email">
                                        Please enter a valid email address.
                                    </span>
                                </span>
                            </div>
                            <div class="form-group">
                                <label>Cellphone Number:</label>
                                <input type="tel" formControlName="cellphone" class="form-control" pattern="[0-9]{10}" minlength="10" maxlength="10"
                                [ngClass]="{'is-invalid': (profileForm.get('cellphone').touched || profileForm.get('cellphone').dirty) && !profileForm.get('cellphone').valid }"
                                placeholder="Cellphone Number (10 Digits)"/>
                                <span class='invalid-feedback'>
                                    <span *ngIf="profileForm.get('cellphone').errors?.minlength || profileForm.get('cellphone').errors?.pattern">
                                        Cellphone number must be 10 digits long and should only contain numbers.
                                    </span>
                                </span>
                            </div>
                            
                            <button [disabled]="!profileForm.valid" class="btn btn-primary" style="text-align: center; background-color: #334e68; border-color: #334e68; margin-right: 1%;">
                                Save Profile
                            </button>
                            <button class="btn btn-primary" type="button" style="background-color: crimson; border-color: crimson; margin: 0 auto"
                            routerLinkActive='active' [routerLinkActiveOptions]='{exact: true}' [routerLink]="['/adverts']">
                                Cancel
                            </button>
                            <div class='form-group row mb-2' style="margin-top: 2%;">
                                <label class = 'alert alert-primary' *ngIf='message' style='margin: 0 auto;'>
                                    {{ message }}
                                </label>       
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>