<!-- <div class="col-md-6 offset-md-3 mt-5">
    <div class="alert alert-info">
        Username: test<br />
        Password: test
    </div>
    <div class="card" style="border-color: #334e68; color: #334e68; background-color: #323F4B;">
        <h4 class="card-header" style="background-color: #334e68; color: azure;">Login</h4>
        <div class="card-body" style="text-align: center; padding-inline: 10%;">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" placeholder="Email"/>
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Username is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Password"/>
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                    </div>
                </div>
                <button [disabled]="loading" class="btn btn-primary" style="background-color: #334e68; border-color: #334e68;">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Login
                </button>
                <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
            </form>
        </div>
    </div>
</div> -->
<div class="col-md-6 offset-md-3 mt-5">
    <div class = 'card justify-content-center'  style="border-color: #334e68; color: #334e68; background-color: #323F4B;">
        <div class = 'card-header' style="background-color: #334e68; color: azure;">
            {{ pageTitle }}
        </div>

        <form novalidate (submit)='register()' [formGroup]='registerForm'>
            <div class = 'card-body justify-content-center' style="text-align: center; padding-inline: 15%;">
                <div class="form-group">
                    <div>
                        <input class="form-control" formControlName = 'email' style = 'text-align: center;' id = 'username' placeholder='Email'
                            [ngClass]="{'is-invalid': displayMessage.email }"/>
                        <span class='invalid-feedback'>
                            {{ displayMessage.email }}
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <div>
                        <input class="form-control" formControlName = 'firstName' style = 'text-align: center;' id = 'firstName' placeholder='First Name'
                            [ngClass]="{'is-invalid': displayMessage.firstName }"/>
                        <span class="invalid-feedback">
                            {{ displayMessage.firstName }}
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <div>
                        <input class="form-control" formControlName = 'lastName' style = 'text-align: center;' id = 'lastName' placeholder='Last Name'
                            [ngClass]="{'is-invalid': displayMessage.lastName }"/>
                        <span class="invalid-feedback">
                            {{ displayMessage.lastName }}
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <div>
                        <input class='form-control' formControlName = 'password' type='password' style = 'text-align: center;' id = 'password' placeholder='Password'
                            [ngClass]="{'is-invalid': displayMessage.password }"/>
                        <span class="invalid-feedback">
                            {{ displayMessage.password }}
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <div>
                        <input class='form-control' formControlName = 'confirmPassword' type='password' style = 'text-align: center;' id = 'confirmPassword' placeholder='Confirm Password'
                            [ngClass]="{'is-invalid': displayMessage.confirmPassword }"/>
                        <span class="invalid-feedback">
                            {{ displayMessage.confirmPassword }}
                        </span>
                    </div>
                </div>

                <div class='form-group row mb-2' >
                    <label class = 'alert alert-danger' *ngIf='errorMessage' style='margin: 0 auto;'>
                        {{ errorMessage }}
                    </label>       
                </div>
                <div class='form-group row mb-2' >
                    <label class = 'alert alert-success' *ngIf='registerMessage' style='margin: 0 auto;'>
                        {{ registerMessage }}
                    </label>       
                </div>

                <div class='form-group row mb-2' >
                    <input class = 'btn btn-primary' type = 'submit' style = 'height: 40px;  width: 100px; margin: 0 auto; background-color: #334e68; border-color: #334e68;' value='Register'
                    [disabled]='!registerForm.valid'>            
                </div>
                <div class='form-group row mb-2' >
                    
                    <button class = 'btn btn-link' id = 'register' style = 'height: 40px;  margin: 0 auto; color: turquoise;' value = 'Already have an account?'
                    routerLinkActive='active' [routerLinkActiveOptions]='{exact: true}' [routerLink]="['/login']">Already have an account?</button>           
                </div>
            </div>
        </form>          
    </div>
</div>